.container{
    padding-bottom: 60px;
}

.navbar-padding{
    padding-bottom: 60px;
}
.pink-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-button{
    background-color: #ff136f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.cat-1{
    background-color: rgb(173, 187, 185);
}
.cat-2{
    background-color: #F4D35E;
}
.cat-3{
    background-color: wheat;
}
.cat-1 , .cat-2 , .cat-3 {
    padding: 10px 30px ;
    border-radius: 10px;
}
.categories h1{
    color: white;

}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightslategray;
}
#contact{
    height: 300px;
}
.contact-area{
    padding-bottom: 10px ;
}
.submit-button{
    margin-top: 10px;
}

.chng-color{
    color: gray;
}
footer{
    text-align: center;
    color: gray;
}
.sticky-lg-top{
    position: sticky;

}